@charset "utf-8";
/* CSS Document */
.m_wrap{ width:640px; margin:0 auto; overflow:hidden;}
.m_header{ width:640px; height:514px; background:url(/static/image/mobile/index/m_header.jpg) no-repeat; position:relative;}
.m_header a.logo{ display:block; position:absolute; left:33px; top:26px; }
.m_header ul{ position:absolute; left:540px; top:15px;}
.m_header ul li{ margin-bottom:34px;} 
.m_header ul li a{ display:block; width:77px; background:url(/static/image/mobile/index/header_nav.png) no-repeat;}
.m_header ul li a.home{ height:38px; background-position: 0px -6px;}
.m_header ul li a.news{ height:36px; background-position: 0px -79px; }
.m_header ul li a.paint{ height:41px; background-position: 0px -149px;}

.m_content{ width:640px; height:750px; position:relative;}
.m_content a{ display:block; background:url(/static/image/mobile/index/m_content.jpg) no-repeat; position:absolute;}
.m_content p{display:block; position:absolute;}
.m_content a.game_news{ width:480px; height:250px; background:url(/static/image/mobile/index/mod_news.jpg) no-repeat;}
.m_content a.game_dl{ width:160px; height:250px; background:url(/static/image/mobile/index/mod_dl.jpg) no-repeat; left:480px;}
.m_content p.game_box{ width:160px; height:250px; background:url(/static/image/mobile/index/mod_zqzl.jpg) no-repeat; left:0; top:250px;}
.m_content a.game_screen{ width:480px; height:250px; background:url(/static/image/mobile/index/mod_jt.jpg) no-repeat; left:160px; top:250px;}
.email{ width:480px; height:250px; background:url(/static/image/mobile/index/m_content.jpg) 0px -500px; left:0; top:500px; position:absolute;}
.weibo{ width:120px; height:220px; background:url(/static/image/mobile/index/mod_wx.jpg) no-repeat; left:480px; top:500px; position:absolute; padding:30px 20px 0px 20px;}
.weibo dl{ width:120px; margin:0 auto;}
.weibo dl dt{ width:120px; text-align:center;}
.weibo dl dt img{ display:inline;}
.weibo dl dd{ font-size:18px; font-family:'Microsoft YaHei'; color:#fff; text-align:center; line-height:47px;}
.weibo p a{ display:block; width:44px; height:44px; background:url(/static/image/mobile/index/weibo_Btn.jpg) no-repeat; position:inherit; margin-top:19px;}
.weibo p a.weibo_tieba{ background-position: 0px 0px;}
.weibo p a.weibo_sina{background-position: -74px 0px; left:75px;}


/*.m_content a{ display:block;}
.m_content a.m_dl{ width:298px; height:88px; background:url(/static/image/mobile/index/dl_Btn.png) no-repeat; margin:0 auto;}
.m_content .nav{ width:640px; height:293px; background:url(/static/image/mobile/index/m_nav.jpg) no-repeat; margin:38px 0px 0px 0px;}
.m_content .nav a{ position:absolute;}
.m_content .nav a.m_paint{ width:86px; height:144px; left:59px; top:125px;}
.m_content .nav a.m_gftBox{ width:168px; height:292px; left:234px; top:125px;}
.m_content .nav a.m_news{ width:85px; height:144px; left:495px; top:125px;}
.m_content .nav a.m_screen{width:85px; height:144px; left:59px; top:274px;}
.m_content .nav a.m_video{width:85px; height:144px; left:495px; top:274px;}
.m_about{ width:640px; height:200px; background:url(/static/image/mobile/index/m_about.jpg) no-repeat;}
.m_about_l{ float:left; width:416px; margin-left:20px;}
.m_about_l ul{ width:416px;}
.m_about_l ul li{ height:52px; background:#102365; margin-bottom:10px;}
.m_about_l ul li ul li{ height:52px;}
.m_about_l ul li ul li a{ display:block; width:148px; height:52px; float:left; background:url(/static/image/mobile/index/icon.jpg) no-repeat;}
.m_about_l ul li ul li a.wb_sina{ background-position: -52px -106px;}
.m_about_l ul li ul li a.wb_tx{ background-position: -52px -159px;}
.m_about_l ul li i{ display:block; width:52px; height:52px; float:left; background:url(/static/image/mobile/index/icon.jpg) no-repeat;}
.m_about_l ul li i.baidu{ background-position: 0px 0px;}
.m_about_l ul li i.email{ background-position: 0px -53px;}
.m_about_l ul li i.wb_sina{ background-position: 0px -106px;}
.m_about_l ul li i.wb_tx{background-position: 0px -159px; }
.m_about_l ul li a{ display:block; width:364px; height:52px; float:left; background:url(/static/image/mobile/index/icon.jpg) no-repeat;}
.m_about_l ul li a.baidu{ background-position: -52px 0px;}
.m_about_l ul li a.email{ background-position: -52px -53px;}
.m_about_r{ float:left; width:156px; height:158px; margin-left:10px; background:#102365; padding:9px;}
.m_ball{ width:186px; height:186px; background:url(/static/image/mobile/index/m_ball.png) no-repeat; position:absolute; top:441px; left:225px; }

.act1_ball_1,.act1_ball_2,.act1_ball_3,.act1_ball_4,.act1_ball_5{ background:url(/static/image/mobile/index/m_ball.png) no-repeat; background-size:53%; position:absolute;}
.act1_ball_1{ animation: ballpos1 0.2s linear; top:148px; left:52px; }
.act1_ball_2{ animation: ballpos2 0.2s linear; top:259px; left:268px;}
.act1_ball_3{ animation: ballpos3 0.2s linear; top:153px; left:490px;}
.act1_ball_4{ animation: ballpos4 0.2s linear; top:294px; left:55px; }
.act1_ball_5{ animation: ballpos5 0.2s linear; top:294px; left:487px; }
@keyframes ballpos1{
	 0%{ position:absolute; left:225px; top:441px; background-size:100%;}
	30%{ position:absolute; left:225px; top:344px; background-size:80%;}
	60%{ position:absolute; left:167px; top:258px; background-size:67%;}
	100%{ position:absolute; left:52px; top:148px; background-size:53%;}
}
@keyframes ballpos2{
	 0%{ position:absolute; left:225px; top:441px; background-size:100%;}
	100%{ position:absolute; left:268px; top:259px; background-size:53%;}
}
@keyframes ballpos3{
	 0%{ position:absolute; left:225px; top:441px; background-size:100%;}
	100%{ position:absolute; left:490px; top:153px; background-size:53%;}
}
@keyframes ballpos4{
	 0%{ position:absolute; left:225px; top:441px; background-size:100%;}
	100%{ position:absolute; left:55px; top:294px; background-size:53%;}
}
@keyframes ballpos5{
	 0%{ position:absolute; left:225px; top:441px; background-size:100%;}
	100%{ position:absolute; left:487px; top:294px; background-size:53%;}
}



*/