@charset "utf-8";
/* CSS Document */
/*newsList*/
.sub_wrap{ width:640px; margin:0 auto; overflow:hidden;}
.sub_header{ width:640px; height:375px; background:url(/static/image/mobile/main/sub_header.jpg) no-repeat; position:relative;}
.sub_header a{ display:block; position:absolute; left:23px; top:14px;}
.sub_content{ background:#ebebed url(/static/image/mobile/main/sub_cotentBg.jpg) no-repeat; padding:0px 20px 30px 20px;}
.section_mod3{ background:url(/static/image/mobile/main/section_mod3.jpg) no-repeat; position:relative;}
.p_wrap{ background:url(../images/p_body.jpg) no-repeat center top;overflow:hidden;}   
.p_con_z p.p_2{margin:0px auto;width:706px;}
.p_con_z p.p_3{ padding-bottom:19px; border-bottom:1px solid #5f657a;}
.p_con_z p.p_3 a{margin-right:7px;float:left;display:inline;display:block;width:118px;height:72px;}
.p_con_z p.p_3 a.sx_1{background:url(/static/image/mobile/main/mod3TabNav.jpg) no-repeat;}
.p_con_z p.p_3 a.sx_1_1{background:url(/static/image/mobile/main/mod3TabNav.jpg) no-repeat 0px -74px;}
.p_con_z p.p_3 a.sx_2{background:url(/static/image/mobile/main/mod3TabNav.jpg) no-repeat -145px 0;}
.p_con_z p.p_3 a.sx_2_1{background:url(/static/image/mobile/main/mod3TabNav.jpg) no-repeat -145px -74px;}
.p_con_z p.p_3 a.sx_3{background:url(/static/image/mobile/main/mod3TabNav.jpg) no-repeat  -289px 0px;}
.p_con_z p.p_3 a.sx_3_1{background:url(/static/image/mobile/main/mod3TabNav.jpg) no-repeat -289px -74px;}
.newslistCon ul li{ color:#383b49; font-size:28px; font-family:'Microsoft YaHei'; padding:30px 0px 30px 0px; height:40px; line-height:40px; border-bottom:1px solid #5f657a;}
.newslistCon ul li a{ color:#383b49; font-size:28px; font-family:'Microsoft YaHei';}
.newslistCon ul li span.date{ float:right; font-size:20px; color:#5f657a;}
.p_con_z p.p_3 a.backIndex{ display:block; width:152px; height:35px; background:url(/static/image/mobile/main/back.png) no-repeat; padding-left:5px; margin:18px 0px 0px 35px;}
.viewMore{ font-size:28px; color:#383b49; display:block; width:135px; margin:0 auto; margin-top:35px;}

/*newsAritcle*/
.newsartTop{ border-bottom:1px solid #b3b5be; padding-bottom:23px;}
.newsartTop h1{ background:url(/static/image/mobile/main/tit_page.png) no-repeat;}
.newsartTop h1.tit_art{ height:57px; background-position: 0px 0px;}
.newsartTop h1.tit_pic{ height:57px; background-position: 0px -63px;}
.newsartTop h1 a.backIndex{display:block; width:152px; height:35px; background:url(/static/image/mobile/main/back.png) no-repeat; float:right; margin-top:18px;}
.newsartTop h4{ padding-left:45px; margin-top:36px; background:url(/static/image/mobile/main/ball.png) no-repeat left 10px; font-size:34px; color:#383b49; font-family:'Microsoft YaHei'; font-weight:normal;}
.newsartTop p{ font-size:24px; color:#5f657a; padding-left:43px;}
.newsartCon img{border:3px solid #4a5255;}
.newsartCon p{ color:#383b49; font-size:24px; line-height:48px; text-indent:2em; }


.swiper-container { margin: 20px auto;}
.swiper-slide {text-align: center;font-size: 18px;}
.swiper-slide dl{ width:295px; float:left; margin-top:15px;}
.swiper-slide dl dt a{ display:block; width:289px; height:214px; border:3px solid #4a5255;}
.swiper-slide dl:nth-child(2n){ margin-left:10px;}
.swiper-slide dl dd{ font-size:36px; color:#383b49; font-family:'Microsoft YaHei';}

/*弹框css*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
#cboxContent{margin-top:20px;background:#000;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{border:5px solid #000; background:#fff;}
#cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:#FF0; }
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-150px; background:url(/static/image/mobile/index/btn_left.png) no-repeat; width:50%; height:300px; text-indent:-9999px;}
#cboxNext{position:absolute; top:49%; right:5px; margin-top:-150px; background:url(/static/image/mobile/index/btn_right.png) no-repeat right; width:50%; height:300px; text-indent:-9999px;}

#cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(/static/image/mobile/main/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
#cboxClose:hover{background-position:bottom center;}