@charset "utf-8";
/* CSS Document */

.wrapBg{ background:#f1e7d0 url(/static/image/quiz/wrapBg.jpg) no-repeat center top;}
.container{ width:1200px; margin:0 auto; padding-bottom:100px;}
.banner{ width:1200px; height:652px; background:url(/static/image/quiz/banner.jpg) no-repeat; position:relative;}
.banner h1{ width:199px; height:150px; position:absolute; left:513px; top:117px;}
.banner ul{ width:554px; position:absolute; left:333px; top:602px;}
.banner ul li{ float:left;}
.banner ul li a{ height:50px; display:block; background:url(/static/image/quiz/dl_btn.jpg) no-repeat;}
.banner ul li a.dl_ios{ width:157px; background-position: 0px 0px; margin-right:39px;}
.banner ul li a.dl_ios:hover{background-position: 0px -51px;}
.banner ul li a.dl_and{ width:157px; background-position: -195px 0px; margin-right:39px;}
.banner ul li a.dl_and:hover{ background-position: -195px -51px;}
.banner ul li a.dl_iosyy{ width:158px; background-position: -390px 0px;}
.banner ul li a.dl_iosyy:hover{background-position: -390px -51px;}
.code_ios{ width:74px; height:82px; padding:5px; background:url(/static/image/quiz/codeBg.png) no-repeat; position:absolute; left:375px; top:508px; display:none;}
.code_and{ width:74px; height:82px; padding:5px; background:url(/static/image/quiz/codeBg.png) no-repeat; position:absolute; left:570px; top:508px; display:none;}
.code_iosyy{ width:84px; height:82px; padding:5px; background:url(/static/image/quiz/codeBg.png) no-repeat; position:absolute; left:765px; top:508px; display:none;}
.rule{ width:1200px; height:160px; padding:97px 0px 0px 0px; background:url(/static/image/quiz/rule.jpg) no-repeat;}
.rule p{ color:#680900; font-size:16px; font-family:'MiciroSoft YaHei'; text-align:center; line-height:26px;}
.content{ background:url(/static/image/quiz/contentBg.jpg) no-repeat;}
.content.list{ width:1121px; border:1px solid #995c53; padding:13px 40px 0px 37px;}
.quizList h4{ font-size:18px; margin:18px 0px 0px 0px; padding-bottom:15px; color:#5e3c2b; font-family:'MiciroSoft YaHei';}
.quizListCon{border-top:3px solid #b39162; padding:19px 0px 20px 7px;}
.quizListCon p.vs{ width:117px; height:222px; text-align:center; float:left; color:#35261e; font-size:32px; font-family:'MiciroSoft YaHei'; line-height:222px;}
.quizListCon dl{ width:173px; float:left; border:2px solid #322218;}
.quizListCon dl dt{ height:190px; text-align:center;}
.quizListCon dl dd{ height:28px; line-height:28px; text-align:center; background:#35261e; color:#fff; font-size:16px; font-family:'MiciroSoft YaHei'; }
.aspect{ margin-left:58px; float:left;}
.aspect h5{ color:#5e3c2b; font-size:18px; font-family:'MiciroSoft YaHei'; margin-top:17px;}
.aspectCon{ width:585px; padding-top:15px;}
.aspectCon p{ color:#5d4d45; font-size:14px; font-family:'MiciroSoft YaHei'; line-height:24px; text-indent:2em;}
.pageNum{ text-align:center; padding:19px 0px 10px 0px; border-top:3px solid #b39162;}

.pageNum a{ display:inline-block; width: 30px; height: 30px; border: 1px solid #000; line-height: 30px; text-align: center; float: left; margin-right: 10px; background: #f3f3f3;}
.pageNum strong{ display:inline-block; width: 30px; height: 30px;  line-height: 30px; text-align: center; float: left; margin-right: 10px; }
.pageNum a:hover{ display:inline-block; width: 30px; height: 30px; border: 1px solid #000; line-height: 30px; background: #000; color: #fff; text-align: center; float: left; margin-right: 10px;}

/*内页*/
.article_title{ height:257px; background:url(/static/image/quiz/article_title.jpg) no-repeat;}
.quiz_article{}
.vsBox{ height:383px; background:url(/static/image/quiz/vsBox.jpg) no-repeat;}
.vs_left{ width:537px; height:383px; float:left; margin-right:121px; position:relative;}
.vs_left .team_name{ width:113px; height:37px; background:#e1be7e; color:#5e3c2b; font-size:24px; font-family:'MiciroSoft YaHei'; font-weight:bold; text-align:center; line-height:37px; border-radius:5px; position:absolute; top:115px; left:168px;}
.vs_left .team_logo{ width:159px; height:171px; position:absolute; top:5px; left:304px;}
.vs_left .btn_behind{ display:block; width:110px; height:56px; background:url(/static/image/quiz/btn_behind.png) no-repeat; position:absolute; top:309px; left:255px;}
.vs_left .support_rate{ color:#5e3c2b; font-family:'Microsoft YaHei'; font-size:24px; position:absolute; left:214px; top:265px;}
.vs_left .support_rate span{ display:inline-block; color:#5e3c2b; font-size:35px; line-height:35px; font-weight:bold; margin:0px 0px 0px 9px;}
.vs_rig{ width:541px;  height:383px; float:left; position:relative;}
.vs_rig .team_name{ width:113px; height:37px; background:#e1be7e; color:#5e3c2b; font-size:24px; font-family:'MiciroSoft YaHei'; font-weight:bold; text-align:center; line-height:37px; border-radius:5px; position:absolute; top:115px; left:274px;}
.vs_rig .team_logo{ width:159px; height:171px; position:absolute; top:5px; left:89px;}
.vs_rig .btn_behind{ display:block; width:110px; height:56px; background:url(/static/image/quiz/btn_behind.png) no-repeat; position:absolute; top:309px; left:176px;}
.vs_rig .support_rate{ color:#5e3c2b; font-family:'Microsoft YaHei'; font-size:24px; position:absolute; left:137px; top:265px;}
.vs_rig .support_rate span{ display:inline-block; color:#5e3c2b; font-size:35px; line-height:35px; font-weight:bold; margin:0px 0px 0px 9px;}
.info_left{ float:left; width:523px; height:378px; background:url(/static/image/quiz/teamBg.jpg) no-repeat; padding:25px 0px 0px 11px; margin-left:44px;}
.info_left div,.info_rig div{width:37px; height:201px; margin-left:2px; position:absolute;}
.info_left dl,.info_rig dl{ width:105px; margin:0px 30px 0px 0px; float:left; height:201px;}
.info_left dl dt,.info_rig dl dt{ width:41px; height:201px; margin:0 auto; position:relative;}
.info_left dl dd.h89,.info_rig dl dd.h89{ height:89px;}
.info_left dl dd,.info_rig dl dd{ font-size:16px; color:#525252; font-family:'Microsoft YaHei'; text-align:center;}
.info_left dl dd p,.info_rig dl dd p{ color:#a10b0b; font-size:36px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.progress_barBg{ display:block; width:41px; height:201px; background:url(/static/image/quiz/progress_barBg.jpg) no-repeat; position:absolute;}
.info_rig{ float:left;width:523px; height:378px; background:url(/static/image/quiz/teamBg.jpg) no-repeat;  padding:25px 0px 0px 11px; margin-left:45px;}
.vs_left_pb{width:524px; height:32px; position:absolute; left:22px; top:210px;}
.vs_rig_pb{width:524px; height:32px; position:absolute; left:-5px; top:210px;}
.yellow1 span{ background:#edd090;}
.yellow span{background:#c59538;}
.blue span{ background:#2566d7;}
.orange span{ background:#ffb910;}
.green span{ background:#b4a400;}
.progress-bar span{display:inline-block;height:100%;
	        border-radius:12px;
	   -moz-border-radius:12px;
	-webkit-border-radius:12px;
	        box-shadow:0 2px 3px 0 rgba(251,241,187,0.8) inset;
	   -moz-box-shadow:0 3px 0 rgba(251,241,187,1) inset;
	-webkit-box-shadow:0 3px 0 rgba(251,241,187,1) inset;
	        transition:width .4s ease-in-out;
	   -moz-transition:width .4s ease-in-out;
	-webkit-transition:width .4s ease-in-out;
	behavior: url(http://fetchak.com/ie-css3/ie-css3.htc);
}
.progress-bar2 > span{
        box-shadow:0 8px 11px rgba(255,255,255,0.8) inset, 0 -5px 19px rgba(0, 0, 0, 0.6) inset;
   -moz-box-shadow:0 8px 11px rgba(255,255,255,0.8) inset, 0 -5px 19px rgba(0, 0, 0, 0.6) inset;
-webkit-box-shadow:0 8px 11px rgba(255,255,255,0.8) inset, 0 -5px 19px rgba(0, 0, 0, 0.6) inset;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33000000',GradientType=0 );
}
.stripes span{
	background-size:40px 40px;
	background-image:linear-gradient(135deg,rgba(232,194,119,0.85) 26%,transparent 26%,transparent 50%,rgba(232,194,119,0.85) 50%,rgba(232,194,119,0.85) 76%,transparent 76%,transparent);
	background-image:-moz-linear-gradient(135deg,rgba(232,194,119,0.85) 26%,transparent 26%,transparent 50%,rgba(232,194,119,0.85) 50%,rgba(232,194,119,0.85) 76%,transparent 75%,transparent);
	background-image:-webkit-linear-gradient(135deg,rgba(232,194,119,0.85) 26%,transparent 26%,transparent 50%,rgba(232,194,119,0.85) 50%,rgba(232,194,119,0.85) 76%,transparent 75%,transparent);
}
.stripes1 span,.stripes2 span,.stripes3 span,.stripes4 span{
    	background-size:40px 40px;
     -o-background-size:40px 40px;
   -moz-background-size:40px 40px;
-webkit-background-size:40px 40px;
background-image: -moz-linear-gradient(-45deg,rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
background-image: -webkit-gradient(linear, left top, right bottom,color-stop(0%,rgba(255,255,255,0.2)),color-stop(25%,rgba(255,255,255,0.2)),color-stop(25%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,0.2)),color-stop(75%,rgba(255,255,255,0.2)),color-stop(75%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,0)));
background-image: -webkit-linear-gradient(-45deg,rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(-45deg,rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,
rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(-45deg,rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(135deg,rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
}
@keyframes animate-stripes{
	0%{ background-position:0,0;}
	100%{ background-position:60px,0;}	
}
@-moz-keyframes animate-stripes{
	0%{ background-position:0,0;}
	100%{ background-position:60px,0;}	
}
@-webkit-keyframes animate-stripes{
	0%{ background-position:0,0;}
	100%{ background-position:60px,0;}	
}

.yuan {
	border: 2px solid #C0C0C0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
	padding:5px;
	background:#FFF;
	z-index:2;
	width:330px;
	height:200px;
	behavior: url(../../../../static/css/activity/ie-css3.htc);
}
