@charset "utf-8";
/* CSS Document */

.wrapBg{ width:100%; background:url(/static/image/sign/bodyBg.jpg) no-repeat center top;}
.container{ width:1200px; margin:0 auto;}

.header{ height:376px; background:url(/static/image/sign/header.jpg) no-repeat; position:relative;}
.header a.logo{ position:absolute; top:40px; left:3px;}
.header a.btn_sign{ display:block; width:188px; height:61px; background:url(/static/image/sign/btn_sign.png) no-repeat; position:absolute; top:288px; left:262px; box-shadow: 2px 2px 2px #000000;}
.header a.btn_sign:hover{background:url(/static/image/sign/btn_sign.png) 0px -62px;}
.header ul{ width:100px; height:29px; position:absolute; top:339px; left:537px; background:url(/static/image/sign/radius.png) no-repeat;}
.header ul li{ width:49px; float:left; text-align:center;}
.header ul li a{ font-size:18px; font-family:"Microsoft YaHei"; line-height:29px; color:#FFF;}
.header ul li a:hover{ text-decoration:underline; color:#00F;}
.content{ height:605px; background:url(/static/image/sign/content.jpg) no-repeat;}
.calendarBox{ width:623px; height:346px; background:url(/static/image/sign/calendarBox.jpg) no-repeat; margin-left:45px; padding:17px 0px 0px 0px;}
.rule{ margin-top:31px;}
.rule h4{ height:36px; background:url(/static/image/sign/tit_rule.jpg) no-repeat;}
.rule ul{ padding-top:5px;}
.rule ul li{ font-size:17px; font-family:"Microsoft YaHei"; line-height:28px; color:#dfdfdf;}

/*手机版*/
.m_wrap{ width:640px; margin:0 auto;}
.m_header{ height:418px; background:url(/static/image/sign/m_header.jpg) no-repeat; position:relative;}
.m_header a.m_logo{ position:absolute; left:219px; top:55px;}
.m_header a.m_logo{ position:absolute; left:219px; top:55px;}

.m_header ul{ width:100px; height:29px; position:absolute; top:225px; left:455px; background:url(/static/image/sign/radius.png) no-repeat;}
.m_header ul li{ width:49px; float:left; text-align:center;}
.m_header ul li a{ font-size:18px; font-family:"Microsoft YaHei"; line-height:29px; color:#FFF;}
.m_header ul li a:active{ text-decoration:underline; color:#00F;}

.m_btn_sign{ display:block; width:188px; height:61px; background:url(/static/image/sign/btn_sign.png) no-repeat; position:absolute; top:195px; left:225px;  box-shadow: 2px 2px 2px #000000;}
.m_btn_sign:active{ background:url(/static/image/sign/btn_sign.png) 0px -62px;}
.m_calendarBox{ height:338px;  padding-top:10px; background:url(/static/image/sign/m_calendarBox.jpg) no-repeat;}
.m_rule{ height:299px; background:url(/static/image/sign/m_rule.jpg) no-repeat;}
.m_rule h4{ height:59px; }
.m_rule ul{ padding:0px 45px 0px 52px;}
.m_rule ul li{ font-size:17px; color:#dfdfdf; font-family:"Microsoft YaHei"; line-height:33px;}
