@charset "utf-8";
/* CSS Document */

.wrapBg{ background:url(/static/image/actList/wrapBg.jpg) no-repeat center top;}
.container{ width:1200px; margin:0 auto;}
.header{ width:1200px; height:428px; background:url(/static/image/actList/header.jpg) no-repeat; position:relative;}
.header h1{ width:695px; height:307px; position:absolute; left:392px; top:119px;}
.logo_zqds2{ display:block; width:342px; height:146px; background:url(/static/image/actList/logo_zqds2.png) no-repeat; position:absolute; left:0px; top:15px;}
.content{ width:1200px; height:552px; background:url(/static/image/actList/content.jpg) no-repeat; position:relative;}
.btn_dl{ padding:67px 0px 0px 100px;}
.btn_dl li{ float:left;}
.btn_dl li a{ display:block; height:73px; background:url(/static/image/actList/btn_dl.jpg) no-repeat;}
.btn_dl li a.dl_ios{ width:294px; background-position: 0px 0px;}
.btn_dl li a.dl_and{ width:291px; background-position: -294px 0px;}
.btn_dl li a.dl_iosyy{ width:290px; background-position: -585px 0px;}

.btnBox{ padding:57px 0px 0px 12px;}
.btnBox li{ float:left;}
.btnBox li a{ display:block; width:338px; height:293px; background:url(/static/image/actList/btn.jpg) no-repeat;}
.btnBox li a.ssjc{ background-position: 0px 0px; margin-right:86px;}
.btnBox li a.mjqs{ background-position: -424px 0px; margin-right:84px;}
.btnBox li a.qxjh{ background-position: -846px 0px;}

.code_ios{ width:176px; height:189px; background:url(/static/image/actList/code_ios.png) no-repeat; position:absolute; left:158px; top:-116px; display:none;}
.code_and{ width:176px; height:189px; background:url(/static/image/actList/code_and.png) no-repeat; position:absolute; left:450px; top:-116px; display:none;}
.code_iosyy{ width:176px; height:189px; background:url(/static/image/actList/code_ios.png) no-repeat; position:absolute; left:741px; top:-116px; display:none;}