/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button{ margin: 0px; padding: 0px; vertical-align:middle;}
body{font:12px/1.5 \5B8B\4F53;background-color:#fff;font-family: "Microsoft YaHei","SimHei","Arial";color:#717171;}
table{ border-collapse:collapse; border-spacing:0; }
img{ border:0; display:inline-block;}
button,input,textarea,fieldset{ padding:0;*overflow:visible;} 
input,textarea{outline: none;resize:none;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal; font-weight:normal; }
ol,ul,li{ list-style:none; }
caption,th{ text-align:left; }
h1,h2,h3,h4,h5,h6{ font-size:100%; }
q:beforce,q:after{ content:''; }
abbr,acronym{ border:0; }
label{ cursor:pointer; }
legend{ margin-left:0; }*+html legend{ margin-left:-7px;  margin-top:-7px; padding-bottom:10px; }*html legend{ margin-left:-7px;  margin-top:-7px;  padding-bottom:10px; }
a{ text-decoration:none; outline: none;color:#717171; }
a:hover{ text-decoration:none;color:#ffb800; }
.more{color:#ffb800;}
/* text */
.f0{ font-size:0px; }
.f10{ font-size:10px; }
.f12{ font-size:12px; }
.f13{ font-size:13px; }
.f14{ font-size:14px; }
.f16{ font-size:16px; }
.f18{ font-size:18px; }
.f20{ font-size:20px; }
.f24{ font-size:24px; }
.fHei{ font-family:\9ED1\4F53;}
.fYaHei{ font-family:\5FAE\8F6F\96C5\9ED1;}
.fTahoma{ font-family:Tahoma,Verdana; }
.fb{ font-weight:700; }
.fn{ font-weight:normal; font-style:normal; }
.t2{ text-indent:2em; }
.t1{ text-indent:1em; }
.t9999{ text-indent:-9999em; }
.lh140{ line-height:140%; }
.lh150{ line-height:150%; }
.lh180{ line-height:180%; }
.lh200{ line-height:200%; }
.lh220{ line-height:220%; }
.lh240{ line-height:240%; }
.unl{ text-decoration:underline; }
.del{ text-decoration:line-through; }
/* positon */
.tl{ text-align:left; }
.tc{ text-align:center; }
.tr{ text-align:right; }
.bc{ margin-left:auto; margin-right:auto; }
.fl{ float:left; display:inline; }
.fr{ float:right; display:inline; }
.cb{ clear:both; }
.cl{ clear:left; }
.cr{ clear:right; }
.clearfix:after{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }.clearfix{*zoom:1;}
.vm{ vertical-align:middle; }
.pr{ position:relative; }
.pa{ position:absolute; }
.abs-r{ position:absolute; right:0; }
.zoom{ zoom:1; }
.hidden{ visibility:hidden; }
.none{ display:none; }
/*border*/
.nbB{ border:0;}
.rb{ border-right-width:1px; border-right-style:solid; }
.lb{ border-left-width:1px; border-left-style:solid; }
.nbt{ border-top:none; }
/*box wrap*/
.wrap{width:980px;margin:0 auto;}
/*box size*/
.w10{ width:10px; }
.w20{ width:20px; }
.w30{ width:30px; }
.w40{ width:40px; }
.w50{ width:50px; }
.w60{ width:60px; }
.w70{ width:70px; }
.w80{ width:80px; }
.w90{ width:90px; }
.w100{ width:100px; }
.w120{ width:120px; }
.w150{ width:150px; }
.w180{ width:180px; }
.w188{ width:188px; }
.w190{ width:190px; }
.w200{ width:200px; }
.w210{ width:210px; }
.w250{ width:250px; }
.w300{ width:300px; }
.w400{ width:400px; }
.w450{ width:450px; }
.w500{ width:500px; }
.w600{ width:600px; }
.w700{ width:700px; }
.w960{ width:960px; margin: 0 auto;}
.w980{ width:980px; }
.w1000{ width:1000px; margin: 0 auto;}
.w{ width:100%; }
.wp50{ width:50%; }
.h20{ height:20px; }
.h40{ height:40px; }
.h50{ height:50px; }
.h60{ height:60px; }
.h80{ height:80px; }
.h100{ height:100px; }
.h200{ height:200px; }
.h{ height:100%; }
/* margin padding */
.mt1{ margin-top:1px; }
.mt2{ margin-top:2px; }
.mt5{ margin-top:5px; }
.mt10{ margin-top:10px; }
.mt15{ margin-top:15px; }
.mt20{ margin-top:20px; }
.mt25{ margin-top:25px; }
.mt30{ margin-top:30px; }
.mb3{ margin-bottom:3px; }
.mb5{ margin-bottom:5px; }
.mb10{ margin-bottom:10px; }
.mb15{ margin-bottom:15px; }
.mb18{ margin-bottom:18px; }
.mb20{ margin-bottom:20px; }
.mb25{ margin-bottom:25px; }
.mb30{ margin-bottom:30px; }
.mb70{ margin-bottom:70px; }
.mr2{ margin-right:2px; }
.mr5{ margin-right:5px; }
.mr10{ margin-right:10px; }
.mr12{ margin-right:12px; }
.mr13{ margin-right:13px; }
.mr15{ margin-right:15px; }
.mr18{ margin-right:18px; }
.mr20{ margin-right:20px; }
.mr30{ margin-right:30px; }
.ml2{ margin-left:2px; }
.ml5{ margin-left:5px; }
.ml10{ margin-left:10px; }
.ml15{ margin-left:15px; }
.ml20{ margin-left:20px; }
.ml30{ margin-left:30px; }
.padd5{ padding:5px; }
.padd10{ padding:10px; }
.pt1{ padding-top:1px; }
.pt2{ padding-top:2px; }
.pt3{ padding-top:3px; }
.pt5{ padding-top:5px; }
.pt10{ padding-top:10px; }
.pt12{ padding-top:12px; }
.pt15{ padding-top:15px; }
.pt20{ padding-top:20px; }
.pt25{ padding-top:25px; }
.pb2{ padding-bottom:2px; }
.pb3{ padding-bottom:3px; }
.pb5{ padding-bottom:5px; }
.pb10{ padding-bottom:10px; }
.pb12{ padding-bottom:12px; }
.pb15{ padding-bottom:15px; }
.pb17{ padding-bottom:17px; }
.pb20{ padding-bottom:20px; }
.pb25{ padding-bottom:25px; }
.pb90{ padding-bottom:90px; }
.pl3{ padding-left:3px; }
.pl5{ padding-left:5px; }
.pl10{ padding-left:10px; }
.pl15{ padding-left:15px; }
.pl18{ padding-left:18px; }
.pl20{ padding-left:20px; }
.pl50{ padding-left:50px; }
.pl80{ padding-left:80px; }
.pr3{ padding-right:3px; }
.pr5{ padding-right:5px; }
.pr10{ padding-right:10px; }
.pr15{ padding-right:15px; }
.pr20{ padding-right:20px; }
.pr25{ padding-right:25px; }
.pr35{ padding-right:35px; }
/*color*/
.black{ color:#000000; }
.red{ color:#FF0000; }
.orange{ color:#FF632D; }
.blue{ color:#0075c2; }
.gray{ color:#9A9A9A; }
.graydeep{ color:#666; }.graydeep a{ color:#666; }
.green,.green-a a{ color:#84b118; }
/* inline box style */
.dib{ display:inline-block; }
.db{ display:block; }
/* others */
.alpha{ filter:alpha(opacity=85);  -moz-opacity:0.85; opacity:0.85; }
.wordbreak{word-break:break-all;word-wrap:break-word;}
.nowrap{white-space:nowrap;}
.oh{ overflow:hidden; }
/*sprite*/
.brn{ background-repeat:no-repeat; }
.brx{ background-repeat:repeat-x; }
.nbg{ background:transparent; }
