@charset "utf-8";
/* CSS Document */

.wrap{ width:100%; background:url(/static/image/wrapBg.jpg) no-repeat center top;}
.container{ width:1200px; margin:0 auto;}
.bannner{ height:490px; background:url(/static/image/banner.jpg) no-repeat; position:relative;}
.bannner a.logo{ display:block; width:286px; height:106px; position:absolute; top:24px;}
.bannner a.btn_order{ display:block; width:274px; height:94px; background:url(/static/image/btn_box.png) no-repeat; position:absolute; top:352px; left:200px;}
.bannner a.btn_order:hover{ background-position: 0px -98px;}
.notice{ height:96px; background:url(/static/image/notice.jpg) no-repeat; padding:36px 0px 0px 0px;}
.notice p{ font-size:22px; color:#FFF; font-family:'Microsoft YaHei'; text-indent:2em;}
.content{ height:696px; background:url(/static/image/content.jpg) no-repeat; position:relative;}
.ball{ width:195px; height:313px; position:absolute;}
.ball dt{ color:#fffe1e; font-size:32px; font-family:'Microsoft YaHei'; text-align:center; margin:24px 0px 10px 0px;}
.ball dd.mb8{ margin-bottom:8px;}
.ball dd{ color:#fffe1e; font-size:18px; font-family:'Microsoft YaHei'; text-align:center;}
.ball dd img{ width:170px; height:153px; margin:0 auto;}
.ball_fir{ left:375px; top:57px;}
.ball_sec{ left:85px; top:219px;}
.ball_thir{ left:375px; top:380px;}

.value{ height:463px; background:url(/static/image/value.jpg) no-repeat;}
.value ul{ padding:107px 0px 0px 59px;}
.value ul li{ font-size:24px; font-family:'Microsoft YaHei'; color:#fff; margin-bottom:6px;}
.roll{ position:absolute; left:852px; top:215px;}
#demo{width:187px;height:228px;overflow:hidden;}
.demo_con{width:187px; overflow: hidden; color:#FFF;}
.demo_con p{ color:#fffe1e; height:60px; line-height:60px; font-size:30px; font-family:'Microsoft YaHei'; text-align:center; position:relative}

