@charset "utf-8";
/* CSS Document */
header,nav{ display:block;}


.wrapBg{ background:url(/static/image/wrapBg.jpg) no-repeat center top;}
.container{ width:1280px; margin:0 auto; overflow:hidden; }
/*nav*/
.nav{ height:108px; background:url(/static/image/navBg.jpg) no-repeat;}
.nav a{ display:block; height:108px; background:url(/static/image/navBg.jpg) no-repeat;}
.nav a.logo{ width:202px; float:left; background-position: -30px 0px; margin-left:30px;}
.nav ul{ float:left;}
.nav ul li{ float:left;}
.nav ul li a.home{ width:145px; background-position: -232px 0px; }
.nav ul li a.home:hover{ width:145px; background-position: -232px -109px; }
.nav ul li a.news{ width:147px; background-position: -377px 0px;}
.nav ul li a.news:hover{ width:147px; background-position: -377px -109px;}
.nav ul li a.data{ width:140px; background-position: -524px 0px;}
.nav ul li a.data:hover{ width:140px; background-position: -524px -109px;}
.nav ul li a.wallpaper{ width:146px; background-position: -664px 0px;}
.nav ul li a.wallpaper:hover{ width:146px; background-position: -664px -109px;}
.nav ul li a.video{ width:134px; background-position: -810px 0px;}
.nav ul li a.video:hover{ width:134px; background-position: -810px -109px;}
.content{ width:1280px; margin:0 auto;}
.banner{ width:1280px; height:340px; background:url(/static/image/banner.jpg) no-repeat; position:relative;}
.order{ display:block; width:263px; height:67px; background:url(/static/image/qualifications.png) no-repeat; position:absolute; top:263px; left:273px;}
.order:hover{ display:block; width:263px; height:67px; background:url(/static/image/qualifications_h.png) no-repeat;}
/*video*/
.videoBg{ width:1280px; height:358px; background:url(/static/image/videoBg.jpg) no-repeat;}
.videoCon{ width:498px; height:305px; float:left; padding:21px 0px 0px 53px;}
.videoCon a.videoBig{ display:block; width:517px; height:326px; background:url(/static/image/videoBg.jpg) -34px -6px;}
.videoNum{ width:175px; float:left; margin-top:20px; background:#55646b;}
.videoNum h4{ height:32px; padding-left:5px; border-bottom:1px solid #606f76; line-height:32px; color:#abb7be;}
.videoNum ul{ padding:4px 0px 0px 4px;}
.videoNum ul li{ float:left;}
.videoNum ul li a{ display:block; width:53px; height:48px; line-height:48px; text-align:center; background:#66737c; color:#FFF; font-size:18px; font-family:Verdana, Geneva, sans-serif; margin:0px 4px 4px 0px;}
.videoNum ul li a:hover{ background:#8695a0;}
.videoNum ul li a.more{ width:110px; text-align:center; background:none; font-size:14px; font-family:"宋体"; color:#28d6a1;}
.videoNum ul li a.more:hover{ color:#38e9ae;}

.jqBg{ width:1280px; height:243px; background:url(/static/image/jqBg.jpg) no-repeat; position:relative;}
.jqBg a{ display:block; width:199px; height:191px; position:absolute; left:1009px; top:26px; background:url(/static/image/btn_enter.jpg) no-repeat;}
.jqBg a:hover{ background:url(/static/image/btn_enter_hover.jpg) no-repeat;}

/*图片展示*/
.focus{ width:1188px; height:497px; padding:58px 0px 0px 92px; background:url(/static/image/screen.jpg) no-repeat;}
.silder { width: 1094px; height:427px; position: relative; overflow:hidden;}
.silder a { position: absolute; width: 50px; height: 50px; background: #F00; z-index: 9; background:url(/static/image/none.gif) repeat;}
.silder ul { position:absolute;}
.silder ul li { float: left; }
.silder a.prev { left:34px; top:179px; }
.silder a.next { right:33px; top:179px; }



/*合作媒体*/
.media{ padding:8px 0px 25px 31px; background:url(/static/image/media.jpg) no-repeat;}
.media ul li{ float:left; margin-right:17px;}

/*footer*/
.footer{background:url(/static/image/bottom.png) repeat center 0;height: 70px;padding: 15px 0;}
.footer_p{background:url(/static/image/index/pro_new_footer_11.png) repeat center 0;height: 70px;padding: 15px 0;}
.footer_logo{width:145px;text-align: center;  margin-top: 12px;}
.footer_logo a{ display:block; width:101px; height:53px; margin:0 auto;}
.footer_wx{width: 75px;padding-left: 30px;border-left: 1px solid #000;}
.footer_wb{width: 85px;margin-left: 30px;}
.copyright{width: 360px;padding: 0 55px 0 0;text-align: right;line-height: 20px;}

/*右侧浮动*/
#lm_wx_0514{ width:223px; height:342px; position: absolute; overflow:hidden; z-index: 999999999; top: 50%; right: 0; margin: -58px 0px 0px 0px; z-index:999;}
#lm_wx_0514 a{display: block;}
#lm_wx_0514 a.weixin{ width:70px; height: 69px; position: absolute; left:149px; top: 27px; background: url(/static/image/none.gif) repeat;}
#lm_wx_0514 a.weixin:hover{ background:url(/static/image/shareBg.png) -377px -27px;}
#lm_wx_0514 a.sina{ width:70px; height: 69px; position: absolute; left:149px; top: 107px; background: url(/static/image/none.gif) repeat;}
#lm_wx_0514 a.sina:hover{background:url(/static/image/shareBg.png) -377px -107px;}
#lm_wx_0514 a.tx{ width:70px; height: 69px; position: absolute; left:149px; top: 191px; background: url(/static/image/none.gif) repeat;}
#lm_wx_0514 a.tx:hover{background:url(/static/image/shareBg.png) -377px -191px;}
#lm_wx_0514 a.baidu{ width:70px; height: 67px;position: absolute; left:149px; top: 275px; background: url(/static/image/none.gif) repeat;}
#lm_wx_0514 a.baidu:hover{background:url(/static/image/shareBg.png) -377px -275px;}
.code_weixin{width:148px; height:117px; display:none; z-index:999; background: url(/static/image/code_right.png) no-repeat; position:absolute; top:5px; left:0px;}

.contents {padding: 40px 0px;margin-bottom: 30px;border-bottom: 1px solid #222;color: white;background: #39536B;}

