@charset "utf-8";
/* CSS Document */

.sucessBox{ width:714px; height:430px; background:#ebebeb; position:absolute; left:50%; top:50%; margin: -215px 0px 0px -357px; overflow:hidden;}
.tit_sucess{ width:714px; height:180px; background:url(/static/image/success/tit_sucess.jpg) no-repeat; position:relative;}
.tit_sucess p{ width:92px; height:84px; position:absolute; left:383px; top:91px; line-height:84px; text-align:center; color:#b70000; font-size:31px; font-family:'Microsoft YaHei'; font-weight:normal;}
.txt_prize{ color:#515151; font-size:18px; font-family:'Microsoft YaHei'; line-height:28px; text-indent:2em; padding:0px 40px 0px 40px;}
.information{ width:570px; margin:15px 0px 10px 75px;}
.information li{ width:237px; height:40px; float:left; margin-bottom:11px; border:1jpx solid red;}
.information li.mr72{ margin-right:72px;}
.information li input{ width:168px; height:24px; border:1px solid #7a7a7a; float:left;}
.information li label{ font-size:18px;color:#515151; font-family:'Microsoft YaHei'; display:block; width:66px; float:left;}
.BtnBox{ width:714px;}
.btn_submit{ display:block; width:189px; height:45px; background:url(/static/image/success/btn_submit.jpg) no-repeat; margin:0px 0px 0px 262px; cursor:pointer; border:none;}

.lastStep{ width:714px; height:360px; background:#ebebeb; position:absolute; left:50%; top:50%; margin: -180px 0px 0px -357px; overflow:hidden;}
.tit_lastStep{ width:714px; height:189px; background:url(/static/image/success/lastStep.jpg) no-repeat; position:relative;}
.tit_lastStep p{width:106px; height:96px; position:absolute; left:375px; top:96px; line-height:84px; text-align:center; color:#b70000; font-size:36px; font-family:'Microsoft YaHei'; font-weight:normal;}
.lastStepCon{ margin-top:9px;}
.txt_prize_ls{ width:310px; height:124px; margin:9px 0px 0px 62px; font-size:18px; text-indent:2em; float:left;}
.codeBox{ float:left; margin-left:46px;}
.codeBox dl{ float:left; width:113px; margin-left:10px;}
.codeBox dl dd{ text-align:center; color:#515151; font-size:18px; margin-top:6px;}
