@charset "utf-8";
/* CSS Document */
.main_warpBg{ background:url(/static/image/main/bodyBg.jpg) no-repeat center 1130px ;}
.main_container{ width:1000px; height:auto !important; height:2530px; min-height:2530px;  margin:0 auto;}
.header{ width:1000px; height:570px; background:url(/static/image/main/banner.jpg) no-repeat; position:relative;}
.header a.logo_zqds2{ display:block; width:209px; height:82px; background:url(/static/image/main/logo_zqds2.jpg) no-repeat; position:absolute; top:28px;}
.header_nav{ width:65px; position:absolute; top:36px; left:905px;}
.header_nav li{ height:36px; margin-bottom:18px;}
.header_nav li a{ display:block; height:36px; background:url(/static/image/main/header_nav.jpg) no-repeat;}
.header_nav li a.home{ background-position: 0px -12px; }
.header_nav li a.home:hover{ background-position: -66px -12px; }
.header_nav li a.news{ background-position: 0px -66px;}
.header_nav li a.news:hover{ background-position: -66px -66px;}
.header_nav li a.event{ background-position: 0px -121px;}
.header_nav li a.event:hover{ background-position: -66px -121px;}
.header_nav li a.info{ background-position: 0px -174px;}
.header_nav li a.info:hover{ background-position: -66px -174px;}
.main_content{ width:1000px; position:relative; background:url(/static/image/main/contentBg.jpg) no-repeat; height:auto !important; height:312px; min-height:312px;}
.mod1{ width:200px; height:400px; background:url(/static/image/main/mod1.jpg) no-repeat; position:absolute; left:0; top:200px; overflow:hidden;}
.mod_code_dl{width:200px; height:200px; position:absolute; left:0px; top:0;}
.code_dl { width:200px; float:left; padding:31px 0px 24px 0px; background:url(/static/image/main/code_dl.png) no-repeat;}
.code_dl dt{ text-align:center;}
.code_dl dt img{ display:inline;}
.code_dl dd{ color:#fff; text-align:center; font-size:18px; font-family:'Microsoft YaHei'; line-height:35px;}

.mod1Bg{ width:200px; height:400px; position:absolute;}
.mod1:hover .mod1_con{ top:0;}
.mod1:hover .mod1_txt{ top:-200px;}
.mod1_txt{ display:block; width:200px; height:200px; background:url(/static/image/main/mod1_txt.png) no-repeat; position:absolute; top:0; left:0;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod1_con{ display:block; width:200px; height:200px; background:url(/static/image/main/mod1_con.png) no-repeat; position:absolute; top:-200px;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}

.mod2{ width:318px; height:175px; padding:225px 0px 0px 82px; position:absolute; left:200px; top:0;}
.mod2 dl{ width:295px; height:135px;}
.mod2 dl dt{ margin-bottom:5px;}
.mod2 dl dt a{ color:#a40000; font-size:14px; font-family:'Microsoft YaHei';}
.mod2 dl dt a:hover{ text-decoration:underline;}
.mod2 dl dd{ text-indent:2em; margin-bottom:5px; color:#000;}
.mod2 dl dd.tr{ text-align:right;}
.mod2 dl dd a{ color:#000; font-size:12px; font-family:'Microsoft YaHei'; line-height:29px;}
.mod2 dl dd a:hover{ text-decoration:underline;}
.mod3{ width:400px; height:200px; background:url(/static/image/main/mod3.jpg) no-repeat; position:absolute; left:600px; top:0;}
.mod3_con p{ height:138px; float:left; color:#fff; font-family:'Microsoft YaHei'; font-size:14px; line-height:30px; padding:40px 37px 0px 37px;}

.mod4{ width:200px; height:300px; background:url(/static/image/main/mod4.jpg) no-repeat; position:absolute; left:0px; top:400px; overflow:hidden;}
.mod4_con{ display:block; width:200px; height:140px; background:url(/static/image/main/mod4_con.png) no-repeat; position:absolute; bottom:0;}
.mod5{ width:400px; height:200px; background:url(/static/image/main/mod5.jpg) no-repeat; position:absolute; left:200px; top:400px;}
.mod6{ width:400px; height:440px; background:url(/static/image/main/mod6.jpg) no-repeat; position:absolute; left:600px; top:200px; overflow:hidden;}
.mod6 a.mod6Bg{ display:block; width:100%; height:100%; position:absolute;}
.mod6:hover .mod6_con{ bottom:0;}
.mod6_con{display:block; width:400px; height:40px; position:absolute; bottom:-40px; background:url(/static/image/main/mod6_con.jpg) no-repeat;
        transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
}
.mod7{ width:400px; height:400px; position:absolute; top:860px; overflow:hidden;}
.mod7Bg{ display:block; width:400px; height:400px; position:absolute;}
.mod7:hover .mod7_con{ bottom:0;}
.mod7:hover .mod7_txt{ bottom:-400px;}
.mod7_txt{ width:400px; height:200px; background:url(/static/image/main/mod7_txt.png) no-repeat; position:absolute; bottom:0; left:0;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod7_con{ width:400px; height:200px; background:url(/static/image/main/mod7_con.png) no-repeat; position:absolute; bottom:-200px;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod8{ width:500px; height:200px; background:url(/static/image/main/mod8.jpg) no-repeat; position:absolute; top:860px; left:400px; overflow:hidden;}
.mod8Bg{ position:absolute;}
.mod8:hover .mod8_con{ left:0;}
.mod8:hover .mod8_txt{ left:-200px;}
.mod8_txt{ width:200px; height:200px; background:url(/static/image/main/mod8_txt.png) no-repeat; position:absolute; left:0;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod8_con{ width:200px; height:200px; background:url(/static/image/main/mod8_con.png) no-repeat; position:absolute; left:-200px;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod9{ width:500px; height:200px; background:url(/static/image/main/mod9.jpg) no-repeat; position:absolute; top:1060px; left:500px; overflow:hidden;}
.mod9Bg{ position:absolute;}
.mod9:hover .mod9_con{ right:0;}
.mod9:hover .mod9_txt{ right:-200px;}
.mod9_txt{ width:200px; height:200px; background:url(/static/image/main/mod9_txt.png) no-repeat; position:absolute; right:0;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod9_con{ width:200px; height:200px; background:url(/static/image/main/mod9_con.png) no-repeat; position:absolute; right:-200px;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod10{ width:200px; height:400px; background:url(/static/image/main/mod10.jpg) no-repeat; position:absolute; top:1260px; left:0; overflow:hidden;}
.mod10Bg{ position:absolute;}
.mod10:hover .mod10_con{ bottom:0;}
.mod10:hover .mod10_txt{ bottom:-400px;}
.mod10_txt{ width:200px; height:400px; background:url(/static/image/main/mod10_txt.png) no-repeat; position:absolute; bottom:0;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod10_con{ width:200px; height:400px; background:url(/static/image/main/mod10_con.png) no-repeat; position:absolute; bottom:-400px;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod11{ width:400px; height:200px; background:url(/static/image/main/mod11.jpg) no-repeat; position:absolute; top:1260px; left:200px; overflow:hidden;}
.mod11Bg{ position:absolute;}
.mod11:hover .mod11_con{ right:0;}
.mod11:hover .mod11_txt{ right:-400px;}
.mod11_txt{ width:400px; height:200px; background:url(/static/image/main/mod11_txt.png) no-repeat; position:absolute; right:0;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod11_con{ width:400px; height:200px; background:url(/static/image/main/mod11_con.png) no-repeat; position:absolute; right:-400px;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod14{ width:200px; height:200px; background:url(/static/image/main/mod14.jpg) no-repeat; position:absolute; top:1260px; left:600px;}
.mod14 dl{ width:165px; margin:0 auto; text-align:center; padding:98px 0px 0px 0px;}
.mod14 dl dt{ font-size:18px; color:#1b1b1b; font-family:'Microsoft YaHei'; font-weight:bold; margin-bottom:4px;}
.mod14 dl dd a{ font-size:16px; color:#1b1b1b; font-family:Tahoma, Geneva, sans-serif;}
.mod12{ width:400px; height:200px; background:url(/static/image/main/mod12.jpg) no-repeat; position:absolute; top:1460px; left:400px; overflow:hidden;}
.mod12Bg{ position:absolute;}
.mod12:hover .mod12_con{ left:0;}
.mod12:hover .mod12_txt{ left:-400px;}
.mod12_txt{ width:400px; height:200px; background:url(/static/image/main/mod12_txt.png) no-repeat; position:absolute; left:0;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod12_con{ width:400px; height:200px; background:url(/static/image/main/mod12_con.png) no-repeat; position:absolute; left:-400px;
        transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.mod13{ width:200px; height:357px; padding:43px 0px 0px 0px; background:url(/static/image/main/mod13.jpg) no-repeat; position:absolute; top:1260px; left:800px;}
.code_weixin{ width:200px; margin-bottom:33px;}
.code_weixin dt{ text-align:center;}
.code_weixin dt img{ display:inline;}
.code_weixin dd{ font-size:14px; font-family:'Microsoft YaHei'; color:#fff; line-height:25px; text-align:center;}
.mod13 ul { margin:12px 0px 0px 30px; position:absolute; z-index:999;}
.mod13 ul li{ float:left; margin-right:25px;}
.mod13 ul li a{ display:block; width:30px; height:30px; background:url(/static/image/main/icon_weibo.png) no-repeat; position:relative;}
.mod13 ul li a.weibo_sina{ background-position: 0 0; 
        transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
}
.mod13 ul li a.weibo_sina:hover{background-position: 0 -30px;}
.mod13 ul li a.weibo_tx{ background-position: -30px 0;
        transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
}
.mod13 ul li a.weibo_tx:hover{ background-position: -30px -30px;}
.mod13 ul li a.tieba{ background-position: -60px 0;
        transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
}
.mod13 ul li a.tieba:hover{ background-position: -60px -30px;}
.mod13 ul li a span { 
    background:#232323;
    border: 5px solid #fff;
    border-radius: 50%;
    bottom: 0px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: "Alegreya SC",Georgia,serif;
    font-size: 12px; font-weight:bold;
    height: 40px;
    left: 50%;
    margin-left: -35px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-indent: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    transform: scale(0.2);
    transition: all 0.3s ease-in-out 0s;
    width: 40px;
	display:/*\**/none\9; /* IE8 */
    *display:none; /* IE7 */
}
.mod13 ul a:hover span{
	opacity: 0.9;
	bottom: 32px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.media{ width:1000px; height:51px; position:absolute; top:1729px;}
.slide_holder{width:2900px;}
.slide_mask{width:1000px;height:197px;overflow:hidden;}/* 显示区域的宽度 */
.slide_mask ul{float:left;margin:0}
.slide_mask li{float:left;width:167px; height:51px; display:inline;text-align:center; background:#0FF;}
.slide_mask a{font-size:12px;line-height:20px;}
.scroll-part{width:167px;}

/*newlist*/
.sub_warpBg{ background:url(/static/image/main/sub_wrapBg.jpg) no-repeat center top;}
.sub_container{ width:924px; margin:0 auto; height:auto !important; height:1600px; min-height:1600px;}
.sub_topBar{ height:26px; padding:5px 16px 0px 13px;}
.sub_topBar a.sub_logo{ float:left;}
.sub_topBar ul{ float:right;}
.sub_topBar ul li{ float:left;;}
.sub_topBar ul li a{ font-size:14px; color:#666; font-family:'Microsoft YaHei'; line-height:24px;  margin:0px 5px 0px 5px}
.sub_banner{ height:404px; background:url(/static/image/main/sub_banner.jpg) no-repeat; position:relative;}
.sub_banner a{ display:block; width:209px; height:82px; background:url(../image/main/logo_zqds2.jpg) no-repeat; position:absolute; left:12px; top:35px;}
.page_tit{ background:url(../image/main/page_tit.jpg) no-repeat; color: #fff;font-family: "MicroSoft YaHei";font-size: 14px;font-weight: normal;height: 48px;
    line-height: 48px;padding-right: 18px;text-align: right;}
.page_tit a{ color:#FFF;}
.page_tit a:hover{ color:#fff; text-decoration:underline;}
.sub_content_newslist{ padding-bottom:100px;}
.newsList{ border-bottom:1px solid #b8b8b8; padding:15px 0px 8px 15px; background:#f6f6f6;}
.newsList p{ float:left;}
.newsList p img{ width:285px; height:150px;}
.newsList dl{ width:584px; float:left; margin:10px 0px 0px 18px;}
.newsList dl dt{ margin-bottom:5px;}
.newsList dl dt a { font-size:18px; color:#001c58; font-family:'Microsoft YaHei'; font-weight:bold;}
.newsList dl dd{line-height:24px;}
.newsList dl dd a{ color:#636363;}
.newsList dl dd a:hover{color:#636363; text-decoration:underline;}
.newsList dl dd.time{ text-align:right;}
.page_num{ padding:30px 0px 30px 0px;}
.page_num a{ display:inline-block; width:28px; height:27px; margin:0px 2px 0px 2px; color:#FFF; line-height:27px; text-align:center; background:url(/static/image/pageNumBg.jpg) -59px 0px; font-family:Verdana, Geneva, sans-serif;}
.page_num input{ width:30px; height:24px; border:1px solid #474747;}
.page_num a{ border:1px solid #bfbfbf; background:#f3f3f3; color:#000;}
.page_num a:hover{background:#2e2e2e; color:#fff;}
.page_num a.pre{ background:url(/static/image/main/pageNumBg.jpg) no-repeat; text-indent:-999999999999999px;}
.page_num a.next{background:url(/static/image/main/pageNumBg.jpg) -88px 0px; text-indent:-999999999999999px;}
.page_num a.go{background:url(/static/image/main/pageNumBg.jpg) -154px 0px; text-indent:-999999999999999px;}
.page_num a.active{ border:1px solid #bfbfbf; background:#2e2e2e; color:#fff;}

/*article*/
.newsarticle{ width: 924px; background:#e5e5e5;}
.articleTop{ text-align:center; padding:49px 0px 0px 0px;}
.articleTop h4{ font-size:24px; font-family:'Microsoft YaHei'; margin:0px 0px 31px 0px; color:#000;}
.articleTop p{ font-size:14px; color:#5b5b5b;}
.articleCon{ padding:15px 58px 0px 58px; height:auto !important; height:950px; min-height:950px; }
.articleCon p,.articleCon span{ display:block; line-height:24px; font-size:13px; text-indent:2em; margin:10px 0px 10px 0px;}

.screen_wrapBg{ background:url(/static/image/main/screen_wrapBg.jpg) no-repeat center top;}
.screen_main{ width:936px; height:761px; background:url(/static/image/main/screenBg.jpg) no-repeat; margin:0 auto; padding:81px 0px 0px 0px;}
.screen_main a.screen_logo{ display:block; width:209px; height:85px; margin: 0px auto 50px;}
.screen_main ul li{ width:300px; height:200px; float: left; margin:0px 6px 12px 6px;}
.newsarticleBot{}
.newsarticleBot p{ font-size: 14px; font-family: 'Microsoft YaHei'; color: #676767; line-height: 35px;}
.newsarticleBot p a:hover{ color: #676767; text-decoration:underline;}

/*弹框css*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
#cboxContent{margin-top:20px;background:#000;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{border:5px solid #000; background:#fff;}
#cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:#FF0; }
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(/static/image/main/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:bottom left;}
#cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(/static/image/main/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
#cboxNext:hover{background-position:bottom right;}
#cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(/static/image/main/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
#cboxClose:hover{background-position:bottom center;}



/*资料库*/
.warpBg_data{ background:#191d0e url(/static/image/main/wrapBg_data.jpg) no-repeat no-repeat center top;}
.container_data{ width:1200px; height:1998px; margin:0 auto;}
.banner_data{ position:relative; height:798px; background:url(/static/image/main/banner_data.jpg) no-repeat;}
.banner_data a.logo_zqds2{ position:absolute; left:135px; top:44px;}
.banner_data ul{}
.banner_data ul li{}
.banner_data ul li a{ display:block; background:url(/static/image/main/dl_bg_data.jpg) no-repeat;  position:absolute;}
.banner_data ul li a.dl_ios{ width:155px; height:65px; background-position: -3px -42px; left:64px; top:433px;}
.banner_data ul li a.dl_and{ width:154px; height:70px; background-position: -158px -15px; left:219px; top:406px;}
.banner_data ul li a.dl_iosyy{ width:157px; height:67px; background-position: -306px 0px; left:367px; top:391px;}
.code_and{ width:176px; height:189px; background:url(/static/image/actList/code_and.png) no-repeat; position:absolute; left:207px; top:232px; display:none;}
.searchBox_data{ width:184px; height:39px; background:url(/static/image/main/seach.png) no-repeat; position:absolute; left:977px; top:653px;}
.search_txt_data{ width:146px; height:29px; float:left;  border:none; background:none; padding:0px 4px 0px 4px;}
.search_btn_data{ width:30px; height:39px; float:left; background:url(/static/image/main/seach.png) -154px 0px; cursor:pointer; border:none;}
.content_data{ background:url(/static/image/main/contentBg_data.jpg) no-repeat; height:auto !important; height:890px; min-height:890px; padding:10px 0px 0px 18px;}
.cardList_data{ margin-bottom:72px;}
.cardList_data dl{ float:left;  margin-right:137px;}
.cardList_data dl dt{box-shadow: 0px 0px 6px #efedb4;border-radius:15px;}
.cardList_data dl dd{ font-size:28px; line-height:78px; color:#dcc287; font-family:'Microsoft YaHei'; text-align:center;}
.thumb { width: 296px;height: 382px;}
.thumb a { display:block; width:318px; height:408px;position: absolute;top: 0;left: 0;/*border: 5px solid white;*/}
.thumb a img{ width:296px; height:382px; border-radius:15px;}
/**
 * Kort styles start here, everything above is demo-page 
 * specific.
 */
.kort {
	-webkit-perspective: 1200px;
	   -moz-perspective: 1200px;
	     -o-perspective: 1200px;
	        perspective: 1200px;
	-webkit-perspective-origin: 50% 50%;
	   -moz-perspective-origin: 50% 50%;
	     -o-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.kort a {
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}
/* DEFAULT TRANSITION */
.kort:hover a,
.kort.touching a  {
	-webkit-transform: translateX( -60% ) rotateY( 60deg ) translateZ(-80px);
	   -moz-transform: translateX( -60% ) rotateY( 60deg ) translateZ(-80px);
	     -o-transform: translateX( -60% ) rotateY( 60deg ) translateZ(-80px);
	        transform: translateX( -60% ) rotateY( 60deg ) translateZ(-80px);
}


.kort:hover a.present ~ a,
.kort.touching a.present ~ a {
	-webkit-transform: translateX( 82% ) rotateY( 50deg );
	   -moz-transform: translateX( 82% ) rotateY( 50deg );
	     -o-transform: translateX( 82% ) rotateY( 50deg );
	        transform: translateX( 82% ) rotateY( 50deg );
}
/* CONCAVE TRANSITION */
.kort.concave:hover a.present ~ a,
.kort.concave.touching a.present ~ a {
	-webkit-transform: translateX( 60% ) rotateY( -60deg ) translateZ(-80px);;
	   -moz-transform: translateX( 60% ) rotateY( -60deg ) translateZ(-80px);;
	     -o-transform: translateX( 60% ) rotateY( -60deg ) translateZ(-80px);;
	        transform: translateX( 60% ) rotateY( -60deg ) translateZ(-80px);;
}

/* STACK TRANSITION */
.kort.stack:hover a,
.kort.stack.touching a  {
	-webkit-transform: translateZ(-180px) rotateY( -60deg );
	   -moz-transform: translateZ(-180px) rotateY( -60deg );
	     -o-transform: translateZ(-180px) rotateY( -60deg );
	        transform: translateZ(-180px) rotateY( -60deg );
}
.kort.stack:hover a.present ~ a,
.kort.stack.touching a.present ~ a {
	-webkit-transform: translateX( 82% ) rotateY( 50deg );
	   -moz-transform: translateX( 82% ) rotateY( 50deg );
	     -o-transform: translateX( 82% ) rotateY( 50deg );
	        transform: translateX( 82% ) rotateY( 50deg );
}
.kort:hover a.present,
.kort.touching a.present  {
	-webkit-transform: none;
	   -moz-transform: none;
	     -o-transform: none;
	        transform: none;

	margin: 0!important;
}


