@charset "utf-8";
/* CSS Document */

/* 右侧导航 */
#fullPage-nav { _display: none; width:133px; top:50%; font-size: 12px;}
#fullPage-nav li { width: 133px; text-align:left; height: 17px; margin: 0 0 23px 0; float:left; font-size:16px; font-family:"Microsoft Yahei"; color:#ffffff; vertical-align: middle; font-weight:bold;}
#fullPage-nav li a {width: 20px; height: 17px; color: #8F9DA4; text-decoration: none; background: url(/static/image/dot.png) 0px 0px no-repeat;}
#fullPage-nav li .active {background: url(/static/image/dot.png) 0px bottom;}
#fullPage-nav span { display: none;}
.fullPage-tooltip { float: left; top: 0; margin-right: 5px; font: 15px "Microsoft Yahei"; color: #adc7e1;}
.fullPage-tooltip.on { color: #fff; text-shadow:2px 2px #000;}

.section { position: relative; overflow: hidden;}
.section .bg { position: absolute; left: 0; top: 0; width: 100%;}
.section .bg img { display: block; width: 100%;/* height: 100%;*/ }

.screen-main { overflow:hidden; height:720px; margin: 0 auto; position: relative; width: 1280px;}
@media screen and (min-width:1002px) and (max-width:1366px)
{
.screen-main { overflow:hidden; height:600px; margin: 0 auto; position: relative; width: 1024px;}
}


/*第一屏*/
.bg11 { position: absolute; top: 0%; left:100%; width: 520px; height: 199px; background: url(/static/image/bg11.png) 0 0 no-repeat; background-size:80%; 
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;
}
@media screen and (min-width:1002px) and (max-width:1366px)
{
.bg11 { position: absolute; top: 0%; left:100%; width:364px; height: 199px; background: url(/static/image/bg11.png) 0 0 no-repeat; background-size:80%;}	
}

.bg12 { position: absolute; width: 261px; height: 249px; left:50%; top:50%; margin:-138px 0px 0px -109px; background: url(/static/image/bg12.png) no-repeat; background-size:100%; opacity: 0;
        transition: all 1.7s; 
     -o-transition: all 1.7s;
    -ms-transition: all 1.7s; 
   -moz-transition: all 1.7s;
-webkit-transition: all 1.7s;
  
        transform:scale(0.1,0.1); 
     -o-transform:scale(0.1,0.1);
    -ms-transform:scale(0.1,0.1);
   -moz-transform:scale(0.1,0.1);
-webkit-transform:scale(0.1,0.1);
 
 }
 
@media screen and (min-width:1002px) and (max-width:1366px)
{
.bg12 { position: absolute; width: 222px; height: 193px; left:50%; top:50%; margin:-108px 0px 0px -109px; background: url(/static/image/bg12.png) no-repeat; background-size:80%; opacity: 0;}
} 
.bg13 {  position: absolute; bottom: 0; left:-100%; width: 664px; height: 224px; background: url(/static/image/bg13.png) no-repeat; background-size:80%;
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;
}

@media screen and (min-width:1002px) and (max-width:1366px)
{
.bg13 { position: absolute; bottom: 0; left:-100%; width: 464px; height: 161px; background: url(/static/image/bg13.png) no-repeat; background-size:80%;} 
}

/*第二屏*/
.bg21 { position: absolute; left: 50%; margin:-120px 0px 0px 314px; width: 657px; height: 100%; background: url(/static/image/bg21.png) 0 0 no-repeat;opacity: 0; 
        transform:scale(0.1,0.1);
     -o-transform:scale(0.1,0.1);
    -ms-transform:scale(0.1,0.1);
   -moz-transform:scale(0.1,0.1);
-webkit-transform:scale(0.1,0.1);

        transition: all 0.5s; 
     -o-transition: all 0.5s;
    -ms-transition: all 0.5s; 
   -moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
  }

@media screen and (min-width:1002px) and (max-width:1366px)
{
.bg21 { position: absolute; left: 50%; margin:-100px 0px 0px 258px; width: 459px; height: 100%; background: url(/static/image/bg21.png) 0 0 no-repeat;opacity: 0;}
}
  
  
.bg22 { position: absolute; left: 60%;  margin:-120px 0px 0px -427px; width: 623px; height: 100%; background: url(/static/image/bg22.png) right 0 no-repeat; opacity: 0;
        transform:scale(0.1,0.1);
     -o-transform:scale(0.1,0.1);
    -ms-transform:scale(0.1,0.1);
   -moz-transform:scale(0.1,0.1);
-webkit-transform:scale(0.1,0.1);
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;

}
@media screen and (min-width:1002px) and (max-width:1366px)
{
.bg22 { position: absolute; left: 60%;  margin:-100px 0px 0px -280px; width: 436px; height: 100%; background: url(/static/image/bg22.png) right 0 no-repeat; opacity: 0;}
}

.bg23 { position: absolute; margin-left:-730px;  width: 432px; height:252px; background: url(/static/image/bg23.png) no-repeat; background-size:100%;
        transition: all 0.5s; 
     -o-transition: all 0.5s;
    -ms-transition: all 0.5s; 
   -moz-transition: all 0.5s;
-webkit-transition: all 0.5s;

}
@media screen and (min-width:1002px) and (max-width:1366px)
{
.bg23 { position: absolute; margin-left:-730px;  width: 302px; height:176px; background: url(/static/image/bg23.png) no-repeat; background-size:100%;}
}


.bg24 { position: absolute; margin-left:-950px; bottom:0;  width: 619px; height: 350px; background: url(/static/image/bg24.png) no-repeat; opacity: 0; background-size:100%;
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;

}
@media screen and (min-width:1002px) and (max-width:1366px)
{
.bg24 { position: absolute; margin-left:-950px; bottom:0;  width: 433px; height: 245px; background: url(/static/image/bg24.png) no-repeat; opacity: 0; background-size:100%;}
}

.bg25 { position: absolute; top:0; right:-100%;width: 486px; height: 247px; background: url(/static/image/bg25.png) right 0 no-repeat; opacity: 0; background-size:100%;
        transition: all 0.5s; 
     -o-transition: all 0.5s;
    -ms-transition: all 0.5s; 
   -moz-transition: all 0.5s;
-webkit-transition: all 0.5s;

}
@media screen and (min-width:1002px) and (max-width:1366px)
{
.bg25 { position: absolute; top:0; right:-100%; width: 340px; height:198px; background: url(/static/image/bg25.png) right 0 no-repeat; opacity: 0;background-size:100%;}
}
.bg26 { position: absolute; right: -100%; bottom: 0; width: 499px; height: 315px; background: url(/static/image/bg26.png) 50% 0 no-repeat; background-size:100%;
        transition: all 0.5s; 
     -o-transition: all 0.5s;
    -ms-transition: all 0.5s; 
   -moz-transition: all 0.5s;
-webkit-transition: all 0.5s;

}
@media screen and (min-width:1002px) and (max-width:1366px)
{
.bg26 { position: absolute; right: -100%; bottom: 0; width: 349px; height: 220px; background: url(/static/image/bg26.png) 50% 0 no-repeat; background-size:100%;}
}

.bg27 { position: absolute; left: 50%; bottom: 50%; width: 492px; height: 316px; margin:-158px 0px 0px -246px; background: url(/static/image/bg27.png) 50% 0 no-repeat;  opacity:0;background-size:100%; 
        transform:scale(4,4);
     -o-transform:scale(4,4);
    -ms-transform:scale(4,4);
   -moz-transform:scale(4,4);
-webkit-transform:scale(4,4);
}
@media screen and (min-width:1002px) and (max-width:1366px)
{
.bg27 { position: absolute; left: 50%; bottom: 50%; width: 344px; height: 221px; margin:-110px 0px 0px -172px; background: url(/static/image/bg27.png) 50% 0 no-repeat; background-size:100%; opacity:0;}
}
/*第三屏*/
.bg31 { position: absolute; left: 50%; bottom: 0; top:10%; width: 232px; height: 250px; margin-left: -104px; background-image: url(/static/image/bg31.png); opacity: 0; 
        transition-duration:1.7s;
     -o-transition-duration:1.7s;
    -ms-transition-duration:1.7s;
   -moz-transition-duration:1.7s;
-webkit-transition-duration:1.7s;

        transform:scale(0.2,0.2);
     -o-transform:scale(0.2,0.2);
    -ms-transform:scale(0.2,0.2);
   -moz-transform:scale(0.2,0.2);
-webkit-transform:scale(0.2,0.2);

}
.bg32 { position: absolute; left: 50%; bottom: 0; top:15%; width: 375px; height: 318px; margin-left:700px; background: url(/static/image/bg32.png) 0 bottom no-repeat; opacity: 0; 
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;
}
.bg33 { position: absolute; left: -100%; bottom: 30px; width: 100%; height: 243px; background: url(/static/image/bg33.png) 0 0 no-repeat; opacity: 0; background-size:70%;
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;

}
.bg34 { position: absolute; right: -100%; bottom: 0; width: 100%; height: 254px; background: url(/static/image/bg34.png) right 0 no-repeat; opacity: 0; background-size:70%;
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;

}
.bg35 { position: absolute; right: 0; top:-100%; width: 100%; height: 100%; background: url(/static/image/bg35.png) 0 0 no-repeat; opacity: 0;
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;

}
.dian{position:absolute; left:50%; top:50%; width:130px; height:130px; margin:-69px 0px 0px 231px;}
.dian span { background:url(/static/image/bg35-1.png) no-repeat;width:87px; height:87px; background-size:100%;display: block;}
.zhi{background:url(/static/image/bg35-2.png) no-repeat; background-size:100%;display: block;height: 67px; width: 69px; position:absolute; left:878px; top:71px;}
html* .dian { margin:-59px 0px 0px 210px; }
html* .zhi{left:858px; top:79px;}

@media screen and (min-width:1002px) and (max-width:1366px){
.dian{position:absolute; left:50%; top:50%; width:92px; height:92px; margin:-83px 0px 0px 173px;}
.dian span { background:url(/static/image/bg35-1.png)no-repeat;width:87px; height:87px; background-size:100%;display: block;}
.zhi{background:url(/static/image/bg35-2.png) no-repeat; background-size:100%;display: block;height: 54px; width: 56px; position:absolute; left:50%; top:50%; margin:-67px 0px 0px 189px;}
}

	 
	  @keyframes dian {
	  0% {
		  transform: scale(1, 1);
	  }
	  100% {
		  transform: scale(2, 2);
	  }
	  }
	  @-o-keyframes dian {
	  0% {
		  -o-transform: scale(1, 1);
	  }
	  100% {
		  -o-transform: scale(2, 2);
	  }
	  }
	  @-moz-keyframes dian {
	  0% {
		  -moz-transform: scale(1, 1);
	  }
	  100% {
		 -moz-transform: scale(2, 2);
	  }
	  }
	  @-webkit-keyframes dian {
	  0% {
		  -webkit-transform: scale(1, 1);
	  }
	  100% {
		 -webkit-transform: scale(2, 2);
	  }
	  }
	  @-ms-keyframes dian {
	  0% {
		  -ms-transform: scale(1, 1);
	  }
	  100% {
		  -ms-transform: scale(2, 2);
	  }
	  }

/*第四屏*/
.bg40{ position:absolute; width:153px; height:53px; left:50%; margin:0px 0px 0px -76px; top:30px; background:url(/static/image/logo_zqds2.png) no-repeat;}
.bg41 { position: absolute; top: -372px; width: 100%; height: 372px; background: url(/static/image/bg41.png) 50% 0 no-repeat; background-size:35%; z-index:9;
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;

}
.bg42 { position: absolute; top:48%; left:50%; width: 267px; height: 171px; margin-left:-200px; z-index:9;
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;

}
.bg43 { position: absolute; top: 48%; left:50%; width: 341px; height: 170px; margin-left:-256px; background: url(/static/image/bg43.png) repeat; background-size:100%;  z-index:9;
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;

}
.bg43 h4{ height:24px; text-align:right; padding-right:10px; background:url(/static/image/bg43_tit.jpg) no-repeat;}
.bg43 h4 a{ color:#fff; line-height:24px; font-size:13px;}
.bg43 ul{ padding:0px 15px 0px 15px;}
.bg43 ul li{ height:29px; line-height:29px; font-size:13px; color:#fff; background:url(/static/image/bg43_liBg.png) no-repeat center bottom;}
.bg43 ul li span{ float:right;}
.bg43 ul li a{ color:#FFF;}
.bg44 { position: absolute; bottom:0; left:50%; width: 126px; height: 67px; margin:0px 0px -78px -63px;  background: url(/static/image/bg44.png) 0 0 no-repeat; 
        transition: all 1s; 
     -o-transition: all 1s;
    -ms-transition: all 1s; 
   -moz-transition: all 1s;
-webkit-transition: all 1s;
}
.bg45{ width:86px; height:86px; background:url(/static/image/bg45.png) no-repeat; position: absolute; left:50%; margin:0px 0px 0px -43px; bottom:13%; opacity:0;
        transform:scale(0.1,0.1);
     -o-transform:scale(0.1,0.1);
    -ms-transform:scale(0.1,0.1);
   -moz-transform:scale(0.1,0.1);
-webkit-transform:scale(0.1,0.1);
}
.footer_index{ width:592px; height:90px; padding:20px 17px 0px 17px; background:#041938; color:#fff;  position:absolute; left:50%; margin:0px 0px 0px -304px;bottom:-107px;}
.footer_index a{ color:#fff;}
.footer_index dl{ float:left;}
.footer_index dl dd{ font-size:10px; color:#fff; line-height:22px;}
.wb_zqds2{ float:left;}
.wb_zqds2 a{ display:block; width:30px; height:30px; margin:21px 0px 0px 20px; float:left; background:url(/static/image/wb_zqds2.jpg) no-repeat;}
.wb_zqds2 a.sina{ background-position: 0px 0px;}
.wb_zqds2 a.tieba{background-position: -96px 0px;}
.copyright_index{ float:right; width: 360px;text-align: right;line-height: 20px;}

@media screen and (min-width:1002px) and (max-width:1366px)
{
.bg45{ width:86px; height:86px; background:url(/static/image/bg45.png) no-repeat; position: absolute; left:50%; margin:0px 0px 0px -43px; bottom:15.5%; opacity:0;}
}

.bg44_order{width: 188px; height: 100px; background: url(/static/image/bg44.png) 0 0 no-repeat; position:absolute; z-index:999999;}
.light{ width:73px; height:39px; background:url(/static/image/light.png) no-repeat; position:absolute; /*animation: light linear 3.5s infinite;*/}

@-moz-keyframes light{
  0%{ left:0px; top:2px;}
  25%{ left:152px; top:2px;}
  50%{ left:123px; top:69px;}
  75%{ left:-28px; top:69px;}
  100%{left:0px; top:2px;}
  }
/*@-moz-keyframes ball_s{
	
  0%{ bottom:18%}
  50%{ bottom:20%}
  100%{ bottom:19%;}
  }*/

#player{position:relative;width:267px;height:171px;overflow:hidden;}
#player .Limg{position:relative;}
#player .Limg li{position:absolute;top:0;left:0;}
#player .Limg li  p{line-height:25px; font-size:12px; padding-left:15px;}
#player .Nubbt{position:absolute;z-index:9; left:200px;bottom:8px; line-height:25px;}
#player .Nubbt span{ display:block; width:10px; height:10px; border-radius:5px; margin-right:10px; background:#fff; float:left; opacity:0.5;}
#player .Nubbt span.on{ display:block;color:#fff; background:#fff; opacity:1; }


/* CSS3过度及动画 */
.active .bg11 {margin-left: -450px;opacity: 1;transition-delay: 0.7s;}
@media screen and (min-width:1002px) and (max-width:1366px)
{
.active .bg11 {margin-left: -450px;opacity: 1;transition-delay: 0.7s;}	
}

.active .bg12 { bottom:50%;margin:-138px 0px 0px -109px; opacity: 1; 
        transform:scale(1, 1);
     -o-transform:scale(1, 1);
    -ms-transform:scale(1, 1);  
   -moz-transform:scale(1, 1); 
-webkit-transform:scale(1, 1);

        transition-delay: 1s;
     -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
   -moz-transition-delay: 1s;
-webkit-transition-delay: 1s;

 }
@media screen and (min-width:1002px) and (max-width:1366px)
{
.active .bg12 { bottom:50%;margin:-108px 0px 0px -109px; opacity: 1;}
} 
 
 
.active .bg13 { margin-left:100%; bottom: 0; opacity: 1;
        transition-delay: 0.7s;
     -o-transition-delay: 0.7s;
    -ms-transition-delay: 0.7s;
   -moz-transition-delay: 0.7s;
-webkit-transition-delay: 0.7s;

}

.active .bg21 { left:0; opacity: 1; margin-left:0;
        transform:scale(1,1);
     -o-transform:scale(1,1);
    -ms-transform:scale(1,1);
   -moz-transform:scale(1,1);
-webkit-transform:scale(1,1);

        transition-delay: 1.8s;
     -o-transition-delay: 1.8s;
    -ms-transition-delay: 1.8s;
   -moz-transition-delay: 1.8s;
-webkit-transition-delay: 1.8s;


}
.active .bg22 { right:0; opacity: 1; margin-left:-120px;
        transform:scale(1,1);
     -o-transform:scale(1,1);
    -ms-transform:scale(1,1);
   -moz-transform:scale(1,1);
-webkit-transform:scale(1,1);

        transition-delay: 1.8s;
     -o-transition-delay: 1.8s;
    -ms-transition-delay: 1.8s;
   -moz-transition-delay: 1.8s;
-webkit-transition-delay: 1.8s;
}
@media screen and (min-width:1002px) and (max-width:1366px)
{
.active .bg22 { right:0; opacity: 1; margin-left:-37px;}
}

.active .bg23 { margin-left:0;
        transition-delay: 0.3s;
     -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
-webkit-transition-delay: 0.3s;

}
.active .bg24 { margin-left:0; opacity: 1;
        transition-delay: 0.8s;
     -o-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
   -moz-transition-delay: 0.8s;
-webkit-transition-delay: 0.8s;

}
.active .bg25 { right:0; top:0; opacity: 1;
        transition-delay: 0.1s;
     -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
-webkit-transition-delay: 0.1s;
}
.active .bg26 { right:0; bottom: 0; 

        transition-delay: 1.2s;
     -o-transition-delay: 1.2s;
    -ms-transition-delay: 1.2s;
   -moz-transition-delay: 1.2s;
-webkit-transition-delay: 1.2s;
}
.active .bg27 { top:50%; left:50%; margin:-158px 0px 0px -246px; opacity:1;
        transition-delay: 1.7s;
     -o-transition-delay: 1.7s;
    -ms-transition-delay: 1.7s;
   -moz-transition-delay: 1.7s;
-webkit-transition-delay: 1.7s;
 
        transition-duration:0.1s;
     -o-transition-duration:0.1s;
    -ms-transition-duration:0.1s;
   -moz-transition-duration:0.1s;
-webkit-transition-duration:0.1s;

        transform:scale(1,1);
     -o-transform:scale(1,1);
    -ms-transform:scale(1,1);
   -moz-transform:scale(1,1);
-webkit-transform:scale(1,1);
 
 }
@media screen and (min-width:1002px) and (max-width:1366px)
{
 .active .bg27 { top:50%; left:50%;margin:-110px 0px 0px -172px; opacity:1;}	
}


.active .bg31, .active .bg32 { opacity: 1;}
.active .bg31{ margin-left: -104px;
        transform:scale(1,1);
     -o-transform:scale(1,1);
    -ms-transform:scale(1,1);
   -moz-transform:scale(1,1);
-webkit-transform:scale(1,1);


}
.active .bg32{ margin-left: 50px;}
.active .bg33 { left:0; position:absolute;opacity: 1;
        transition-delay: 1.1s;
     -o-transition-delay: 1.1s;
    -ms-transition-delay: 1.1s;
   -moz-transition-delay: 1.1s;
-webkit-transition-delay: 1.1s;

}
.active .bg34 { right:0; position:absolute;opacity: 1;
        transition-delay: 1.5s;
     -o-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
   -moz-transition-delay: 1.5s;
-webkit-transition-delay: 1.5s;

}
.active .bg35 { top:0; position:absolute;opacity: 1;
        transition-delay: 2s;
     -o-transition-delay: 2s;
    -ms-transition-delay: 2s;
   -moz-transition-delay: 2s;
-webkit-transition-delay: 2s;

}
.active .dian span {
	    animation: 2s linear 2s normal none infinite running dian;
	 -o-animation: 2s linear 2s normal none infinite running dian;
	-ms-animation: 2s linear 2s normal none infinite running dian;
   -moz-animation: 2s linear 2s normal none infinite running dian;
-webkit-animation: 2s linear 2s normal none infinite running dian;

}

.active .bg41 { top: 17%; 
        transition-delay: 0.7s;
     -o-transition-delay: 0.7s;
    -ms-transition-delay: 0.7s;
   -moz-transition-delay: 0.7s;
-webkit-transition-delay: 0.7s;

}
.active .bg42 { top: 48%; left:50%; margin-left:-308px;
        transition-delay: 1.1s;
     -o-transition-delay: 1.1s;
    -ms-transition-delay: 1.1s;
   -moz-transition-delay: 1.1s;
-webkit-transition-delay: 1.1s;

}
.active .bg43 { top: 48%; left:50%; margin-left:-40px;
        transition-delay: 0.9s;
     -o-transition-delay: 0.9s;
    -ms-transition-delay: 0.9s;
   -moz-transition-delay: 0.9s;
-webkit-transition-delay: 0.9s;

}
.active .bg44 { bottom:28%; left:50%;
        transition-delay: 0.9s;
     -o-transition-delay: 0.9s;
    -ms-transition-delay: 0.9s;
   -moz-transition-delay: 0.9s;
-webkit-transition-delay: 0.9s;

}
.active .bg45 { bottom:15.5%; left:50%; opacity:1;
        transform:scale(1,1);
		transition-duration:1s;
		transition-delay:1.5s;
     -o-transform:scale(1,1);
	 -o-transition-duration:1s;
     -o-transition-delay:1.5s;
    -ms-transform:scale(1,1);
	-ms-transition-duration:1s;
    -ms-transition-delay:1.5s;
   -moz-transform:scale(1,1);
   -moz-transition-duration:1s;
   -moz-transition-delay:1.5s;
-webkit-transform:scale(1,1);
-webkit-transition-duration:1s;
-webkit-transition-delay:1.5s;
	    animation: 2s linear 2s normal none infinite running dian;
	 -o-animation: 2s linear 2s normal none infinite running dian;
	-ms-animation: 2s linear 2s normal none infinite running dian;
   -moz-animation: 2s linear 2s normal none infinite running dian;
-webkit-animation: 2s linear 2s normal none infinite running dian;
}
.active .footer_index{ position:absolute; bottom:0px; left:50%; margin:0px 0px 0px -304px; transition-duration:0.5s; transition-delay:1.5s;}
@media screen and (min-width:1002px) and (max-width:1366px)
{
	.active .bg45 { bottom:13%; left:50%; opacity:1;
        transform:scale(1,1);
		transition-duration:1s;
		transition-delay:1.5s;
     -o-transform:scale(1,1);
	 -o-transition-duration:1s;
     -o-transition-delay:1.5s;
    -ms-transform:scale(1,1);
	-ms-transition-duration:1s;
    -ms-transition-delay:1.5s;
   -moz-transform:scale(1,1);
   -moz-transition-duration:1s;
   -moz-transition-delay:1.5s;
-webkit-transform:scale(1,1);
-webkit-transition-duration:1s;
-webkit-transition-delay:1.5s;
	    animation: 2s linear 2s normal none infinite running dian;
	 -o-animation: 2s linear 2s normal none infinite running dian;
	-ms-animation: 2s linear 2s normal none infinite running dian;
   -moz-animation: 2s linear 2s normal none infinite running dian;
-webkit-animation: 2s linear 2s normal none infinite running dian;
}

}

/* for lt ie 10 */
.ltie10 .bg11 {margin-left: -450px;opacity: 1;transition-delay: 0.7s;}
.ltie10 .bg12 { bottom:50%; margin:-118px 0px 0px -109px; transform: scale(1,1);}
.ltie10 .bg13 { margin-left:100%; bottom: 0; opacity: 1;}
.ltie10 .bg21 { left:0; opacity: 1; margin-left:0; transform: scale(1,1);}
.ltie10 .bg22 { right:0; opacity: 1; margin-left:-120px; transform: scale(1,1);}
.ltie10 .bg23 { margin-left:0;}
.ltie10 .bg24 { margin-left:0; opacity: 1;}
.ltie10 .bg25 { right:0; top:0; opacity: 1;}
.ltie10 .bg26 { right:0; bottom: 0; }
.ltie10 .bg27 { top:50%; left:50%; opacity:1; transform: scale(1,1) ;}
.ltie10 .bg31, .active .bg32 { opacity: 1;}
.ltie10 .bg31{ margin-left: -104px; transform: scale(1,1);}
.ltie10 .bg32{ margin-left: 50px;}
.ltie10 .bg33 { left:0; position:absolute;opacity: 1;}
.ltie10 .bg34 { right:0; position:absolute;opacity: 1;}
.ltie10 .bg35 { top:0; position:absolute;opacity: 1;}
.ltie10 .dian span {}
.ltie10 .bg41 { top: 17%; }
.ltie10 .bg42 { top: 48%; left:50%; margin-left:-308px;}
.ltie10 .bg43 { top: 48%; left:50%; margin-left:-40px;}
.ltie10 .bg44 { bottom:28%; left:50%;}
.ltie10 .bg45 { bottom:15.5%; left:50%;}
html*.ltie10 .bg45 { bottom:15.5%; left:50%;}

/*新闻列表*/
.newsListBg{ background:#062145 url(/static/image/newsListBg.jpg) no-repeat center top; }
.newsListContainer{ width:923px; margin:0 auto;}
.newsListTopBar{ width:100%; height:36px; margin:0 auto; line-height:36px; font-size:15px; font-family:'MicroSoft YaHei';}
.newsListTopBar a.logo{ display:block; width:137px; height:36px; margin-left:10px; float:left;}
.newsListTopBar ul{ float:right;}
.newsListTopBar ul li{ float:left;}
.newsListTopBar ul li a{ color:#666;margin:0px 5px 0px 5px;}
.newsListNav{ height:47px; text-align:center;}
.newsListNav ul{  display:inline-block;}
.newsListNav ul li{ float:left; height:47px; line-height:47px; margin-right:32px;}
.newsListNav ul li a{ font-size:16px; color:#FFF; font-family:'MicroSoft YaHei';}
.newsListBan{ height:404px; }

.newsListCon{ }
.newsListCon h2{ height:48px; text-align:right; padding-right:18px; background:url(/static/image/tit_newsList.jpg) no-repeat; font-size:14px; color:#FFF; font-family:'MicroSoft YaHei'; font-weight:normal; line-height:48px;}
.newsListCon h2 a{color:#FFF; }
.newsList{ background:#041a39;}
.newsList dl{ padding:15px; height:120px; color:#fff; background:url(/static/image/newsListLine.jpg) bottom center no-repeat;}
.newsList dl dt a{ font-size:18px; line-height:30px;  color:#fff; text-decoration:none; font-weight:normal; margin-bottom:8px;}
.newsList dl dd{ font-size:14px; color:#ccc; line-height:24px;}
.newsList dl dd a{ color:#ccc;}
.newsList dl dd.time{ float:right;}
.page_num{ padding:30px 0px 30px 0px;}
.page_num a{ display:inline-block; width:28px; height:27px; margin:0px 2px 0px 2px; color:#FFF; line-height:27px; text-align:center; background:url(/static/image/pageNumBg.jpg) -59px 0px; font-family:Verdana, Geneva, sans-serif;}
.page_num input{ width:30px; height:24px; border:1px solid #474747;}
.page_num span{ color:#7a7a7a; margin:0px 8px 0px 35px;}
.page_num a.pre{ background:url(/static/image/pageNumBg.jpg) no-repeat; text-indent:-999999999999999px;}
.page_num a.next{background:url(/static/image/pageNumBg.jpg) -88px 0px; text-indent:-999999999999999px;}
.page_num a.go{background:url(/static/image/pageNumBg.jpg) -154px 0px; text-indent:-999999999999999px;}
.page_num a.active{ background:url(/static/image/pageNumBg.jpg) -29px 0px; color:#000;}

.newsarticle{ background:#041a39;}
.newsarticleTop{ text-align:center; padding:50px 0px 15px 0px;}
.newsarticleTop h4{ font-size:24px; color:#fff; margin-bottom:15px;}
.newsarticleTop p{ font-size:15px; color:#ccc;}
.newsarticleCon{ padding:10px 20px 20px 20px;line-height:24px; color:#fff;}
.newsarticleCon p{ line-height:24px; color:#fff;text-indent: 2em;}
.newsarticleCon span{ display: block; line-height:24px; color:#fff; ;text-indent: 2em;}
/*.newsarticleCon p img{ margin:0 auto; margin:15px auto 15px;}*/

.newsarticleBot{ padding:28px 0px 25px 40px; font-size:14px; font-family:'MicroSoft YaHei'; color:#fff;}
.newsarticleBot a{font-size:14px; font-family:'MicroSoft YaHei'; color:#fff; line-height:24px;}

/*back*/
.backToTop {width:48px; height:48px; text-indent:-9999px; display:none; position:fixed;_position: absolute;bottom:130px;_bottom:"auto";cursor:pointer; background:url(/static/image/backTop.jpg) no-repeat; left:50%; margin-left:470px;}


